/*---Vamos resetar o body---*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:gray;
    color: #333;
    line-height: 1,6;

    /*---Centralizar o card---*/
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.login-container{
    width: 100%;
    max-width: 400px;
    padding: 1rem;
}

.login-card{
    background-color: azure;
    border-radius: 12px;
    padding: 2.5rem 2rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.login-card .logo{
    font-weight: 700;
    font-size: 1.8rem;
    color:brown;
    text-align: center;
}

.login-card .subtitle{
    text-align: center;
    color: #555;
    
}

